.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 9rem));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    padding: 0.5rem;
    background: transparent;
    border-color: #ffffff40;

    &:hover,
    &:focus-visible {
      border-color: #13a1ff;
      background: #13a1ff20;
    }
  }

  img {
    width: 5.5rem;
    aspect-ratio: 59 / 86;
    object-fit: contain;
    pointer-events: none;
  }

  .defense {
    transform: rotate(-90deg);
  }
}
